html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  background-color: #DADADA

}

img { 
	width: 50em;
}

h1 {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.4em;
  margin-top: 1.3em;
  margin-left: 1em;
  position: fixed;
}

h1:hover {
  color: #ff7373;
}

h3 {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  position: fixed;
  margin-top: 10.5em;
  margin-left: 2.1em;
  font-size: 1em;
}

h3:hover {
  color: #ff7373;
}

ul {
  list-style-type: none;
}

body > ul > li {
  margin-bottom: 0.3em;
}

a {
  text-decoration: none;
  color: #242424;
}

a:hover {
  color: #ff7373;
}

#work {
  margin-top: 10.5em;
  margin-left: 2.1em;
  font-size: 1em;
}

#pages {
  margin-top: 16em;
  margin-left: -0.45em;
  margin-bottom: 100em;
  position: fixed;
  color: #242424;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 0.75em;
}

#contact {
  margin-top: 58em;
  margin-left: 3em;
  font-size: 0.7em;
}

#links {
  color: #929292;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 0.7em;
  margin-top: 59.5em;
  margin-left: -0.45em;
  position: fixed;
  }
  
#active {
  color: #ff7373;
}

.images{
  position: absolute;
  float: right;
  clear: both;
  width: 50em;
  margin-top: 3.2em;
  margin-left: 20em;
}

.photo{
	float: left;
	margin-bottom: 3em;
}


.imgbox {
	height: 100%;
	width: 70em;
}

.meta { 
	width: 1.5em;
	position: relative;
	float: right;
	margin-right: 18em;
	
}

div > ul > li {
	margin-bottom: 1.4em;
}

.info {
	font-family: 'lato', sans-serif;
 	font-weight: 400;
  	font-size: 0.75em;
	float: right;
	margin-top: -9.8em;
	margin-right: 19.5em;
	
}

#aperture {
	width: 1.5em;
	float: right;
	clear: both;
	margin-bottom: 0.5em;
}

#focal {
	width: 1.5em;
	float: right;
	clear: both;
	margin-bottom: 0.5em;
}


#exposure {
	width: 1.5em;
	float: right;
	clear: both;
	margin-bottom: 0.5em;
}

#iso {
	width: 1.5em;
	float: right;
	clear: both;
	margin-bottom: 0.5em;
}